<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.imadc.application.xwareman.module.item.mapper.ItemRocketmqMapper">

    <select id="selectColAtSpecifiedTime" resultType="java.lang.Object">
        select ${col}
        from item_rocketmq
        where create_time between #{begin} and #{end}
          and instance_rocketmq_id = #{instanceRocketmqId}
    </select>
</mapper>
