<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.imadc.application.xwareman.basic.rbac.permission.mapper.PermissionMapper">

    <select id="getUserPermission" resultType="cn.imadc.application.xwareman.basic.rbac.permission.entity.Permission">
        SELECT p.*
        FROM permission p LEFT JOIN role_permission rp ON p.id = rp.permission_id LEFT JOIN user_role ur ON rp.role_id = ur.role_id
        WHERE p.del_flag = 0 AND rp.del_flag = 0 AND ur.del_flag = 0 AND ur.user_id = #{userId}
    </select>
</mapper>
