<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.imadc.application.xwareman.module.instance.mapper.InstanceRedisMapper">

    <select id="queryClusterInfo"
            resultType="cn.imadc.application.xwareman.module.instance.dto.data.InstanceRedisClusterInfoData">
        SELECT t.id,
               c.id     clusterId,
               c.`name` clusterName,
               i.`name` instanceName,
               i.ip,
               t.`port`,
               t.type,
               t.master_name,
               t.max_memory,
               t.`password`
        FROM instance_redis t
                 LEFT JOIN instance i ON i.id = t.instance_id
            AND i.del_flag = #{condition.delFlag}
                 LEFT JOIN cluster c ON c.id = t.cluster_id
            AND c.del_flag = #{condition.delFlag}
        WHERE t.del_flag = #{condition.delFlag}
          AND t.cluster_id = #{condition.clusterId}
    </select>
    <select id="listInstanceRedisData"
            resultType="cn.imadc.application.xwareman.module.instance.dto.data.InstanceRedisData">
        SELECT t.*,
               i.ip
        FROM instance_redis t
                 LEFT JOIN instance i ON i.id = t.instance_id
            AND i.del_flag = #{condition.delFlag}
        WHERE t.del_flag = #{condition.delFlag}
    </select>
    <select id="loaInstanceRedisData"
            resultType="cn.imadc.application.xwareman.module.instance.dto.data.InstanceRedisData">
        SELECT t.*
        FROM instance_redis t
        LEFT JOIN instance i ON i.id = t.instance_id
        LEFT JOIN zone z ON z.id = i.zone_id
        WHERE t.del_flag = #{condition.delFlag}
        <if test="null != condition.typeVal">
            AND t.type = #{condition.typeVal}
        </if>
        <if test="null != condition.clusterId">
            AND t.cluster_id = #{condition.clusterId}
        </if>
        <if test="null != condition.keywords">
            AND (i.name LIKE concat('%',#{condition.keywords},'%') OR i.ip LIKE
            concat('%',#{condition.keywords},'%'))
        </if>
    </select>
</mapper>
